@define-color color-base rgba(13, 17, 23, 0.9);
@define-color transparent rgba(0, 0, 0, 0);
@define-color color-success #3fb950;
@define-color color-border #30363d;
@define-color color-danger #f85149;
@define-color color-accent #58a6ff;
@define-color color-text #f0f6fc;

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 20px;
}

window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @color-border;
  border-radius: 8px;
  background-color: @color-base;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-left: 2px solid @transparent;
  border-radius: 0;
  color: @color-text;
  background-color: @transparent;
}

#input:focus {
  border-left: 2px solid @color-accent;
  box-shadow: none;
}

#input image {
  order: none;
  color: @color-danger;
}

#text {
  margin: 5px;
  border: none;
  color: @color-text;
}

#entry {
  background-color: @transparent;
}

#entry:selected arrow {
  border: none;
  color: @color-base;
}

#entry:selected {
  background-color: @color-accent;
  outline: none;
}

#entry:selected #text {
  color: @color-base;
}

#entry:drop(active) {
  background-color: @color-accent !important;
}