@define-color color-base rgba(256, 256, 256, 0.9);
@define-color transparent rgba(0, 0, 0, 0);
@define-color color-success #28a745;
@define-color color-border #e1e4e8;
@define-color color-danger #d74a49;
@define-color color-accent #0366d6;
@define-color color-text #24292e;

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 20px;
}

window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @color-border;
  border-radius: 8px;
  background-color: @color-base;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid @transparent;
  border-radius: 0.0em;
  color: @color-text;
  background-color: @transparent;
}

#input:focus {
  border-bottom: 2px solid @color-accent;
  box-shadow: none;
}

#input image {
  order: none;
  color: @color-danger;
}

#text {
  margin: 5px;
  border: none;
  color: @color-text;
}

#entry {
  background-color: @transparent;
}

#entry:selected arrow {
  border: none;
  color: @color-accent;
}

/* Selected Entry */
#entry:selected {
  border-bottom: 0.11em solid @color-accent;
}

#entry:selected #text {
  color: @color-accent;
}

#entry:drop(active) {
  background-color: @color-accent !important;
}
